.about{


padding:90px 8%;


display:grid;


grid-template-columns:1fr 1fr;


gap:60px;


align-items:center;


background:#ffffff;



}



/* IMAGE */


.about-left img{


width:100%;


border-radius:30px;


box-shadow:

0 20px 40px rgba(15,23,42,.15);


transition:.4s;


}



.about-left img:hover{


transform:scale(1.03);


}





/* TEXT */


.about-right h2{


font-size:45px;


font-weight:800;


color:#0f172a;


margin-bottom:20px;


}



.about-right h2::after{


content:"";


display:block;


width:80px;


height:5px;


background:#2563eb;


margin-top:15px;


border-radius:10px;


}



.about-right p{


font-size:18px;


line-height:1.9;


color:#475569;


margin-bottom:35px;


}





.about-features{


display:grid;


grid-template-columns:repeat(2,1fr);


gap:20px;


}



.about-features div{


background:#f8fafc;


padding:18px;


border-radius:15px;


font-weight:600;


color:#0f172a;


box-shadow:

0 8px 20px rgba(15,23,42,.08);


transition:.3s;


}



.about-features div:hover{


background:#2563eb;


color:white;


transform:translateY(-5px);


}




@media(max-width:900px){


.about{


grid-template-columns:1fr;


}


}
.home{

position:relative;

overflow:hidden;

min-height:100vh;

background:

linear-gradient(
135deg,
#eff6ff,
#ffffff,
#ecfeff
);

}



/* Floating tools */

.floating-tools span{

position:absolute;

font-size:45px;

opacity:0.8;

animation:floatTools 10s infinite ease-in-out;

z-index:0;
}



/* Different positions */

.floating-tools span:nth-child(1){

top:15%;
left:10%;

animation-delay:0s;

}


.floating-tools span:nth-child(2){

top:25%;
left:80%;

animation-delay:2s;

}


.floating-tools span:nth-child(3){

top:70%;
left:15%;

animation-delay:4s;

}


.floating-tools span:nth-child(4){

top:60%;
left:85%;

animation-delay:1s;

}


.floating-tools span:nth-child(5){

top:40%;
left:50%;

animation-delay:3s;

}


.floating-tools span:nth-child(6){

top:80%;
left:60%;

animation-delay:5s;

}
@keyframes floatTools{


0%{

transform:
translateY(0)
rotate(0deg);

filter:
drop-shadow(0 0 8px #2563eb);

}


50%{

transform:
translateY(-50px)
rotate(180deg);

filter:
drop-shadow(0 0 25px #14b8a6);

}


100%{

transform:
translateY(0)
rotate(360deg);

filter:
drop-shadow(0 0 8px #2563eb);

}


}

.floating-tools span::after{

content:"";

position:absolute;

width:8px;

height:8px;

background:#2563eb;

border-radius:50%;

box-shadow:
0 0 20px #2563eb;

}



